<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<section>
    <div class="container">
        <h3 class="mt-3">Главная страница</h3>
        <div class="row">
            <div class="col-md-3 mt-4"><a href=" {% url 'create' %} " class="btn btn-primary">Создать продукт</a> </div>
        </div>
    </div>
</section>
</body>
</html>